@model IEnumerable<Ecommerce_Project.Models.Product>

@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {

        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;

    }
}
<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="User" asp-action="Index" asp-route-pg="@pge"> @pge </a>
                </li>
            }
        </ul>
    }
</div>



     

    <div class="container">
        <div class="row productRow">

        @foreach (var item in Model)
        {
            <div class="col-md-3 product">
                <div class="card productlist">
                    <img src="@Url.Content(item.Imageurl)" height="150" width="200" class="ProductImg" />

                       <table class="singletable">


                        <tr height="80px">
                                <td colspan="2" style="padding-left:15px" height="50px">
                                <br /> @Html.DisplayFor(modelItem => item.Name)
                                </td>
                            
                            </tr>
                            <tr>
                            <td style="padding-left:15px"><br /> Price</td>
                            <td><br />@Html.DisplayFor(modelItem => item.Price)</td>
                            </tr>
                            <tr>
                            <td style="padding-left:15px"><br /> Category </td>
                            <td><br />@Html.DisplayFor(modelItem => item.Cname)</td>
                            </tr>
                            <tr>
                            <td style="padding-left:15px">
                                <br />
                                <a href="/Cart/AddToCart/@item.Id" class="btn btn-primary button">Add to cart </a>
                                </td>
                            <td>
                                <br />
                                    <a href="/User/SinglePage/@item.Id" class="btn btn-primary button1">View more </a>
                                </td>
                            </tr>
                       </table>
                    </div>
                </div>

            }
        </div>
    </div>

 
